<section class="page-section" id="services">
    <div class="container px-4 px-lg-5 text-center">
        <h2 class="text-center mt-0">Pókemons (1ra Gen)</h2>
        <hr class="divider" />
        <!-- Tabla con datos -->
        <table  class="table">
            <tbody>
                <tr>
                    <th> ID </th>
                    <th> NOMBRE </th>
                    <th> TIPO </th>
                    <th></th>
                </tr>
                <tr *ngFor="let datum of data.slice(0, itemsToShow)">
                    <th> {{ datum[ "num" ] }} </th>
                    <td> {{ datum[ "name" ] }} </td>
                    <td> {{ datum[ "type" ] }} </td>
                    <td><img src="{{ datum['img'] }}" alt="Imagen"></td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-primary btn-xl" *ngIf="itemsToShow < data.length" (click)="showMore()">Ver más</button>
    </div>
</section>